<a href="https://colab.research.google.com/github/Minji0h/Data-Science/blob/Data-Analise-With-Python/Data_Analise_com_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando os dados

Importando as bibliotecas que serão utilizadas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Carregando os dados, tratando o cabeçalho e validando se todas as informações entraram corretamente.

In [ ]:
#Link dos dados (planilha com informações de preços dos carros)
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
#Novos nomes das colunas
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
#Lendo o arquivo CSV e atualizando os headers
df = pd.read_csv(url, names=headers)
#Mostrando as 5 primeiras linhas do arquivo
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Encontrando os dados nulos.

Substituindo os valores marcados como "?" (Vazios) por NaN

In [ ]:
df.replace("?", np.nan, inplace = True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Avaliando os valores nulos no dataframe.

In [ ]:
dados_faltantes = df.isnull()
dados_faltantes.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Contando os valores faltantes em cada coluna do dataframe

In [ ]:
for column in dados_faltantes.columns.tolist():
  print(column)
  print(dados_faltantes[column].value_counts())
  print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

# Tratando os dados nulos


<ol>
  <li>Deletando os dados
    <ol>
      <li>Deletando a linha inteira
      <ul>
      <li>Coluna: "price" <br>
      Valores ausentes: 4<br>
      Justificativa: preço é o que queremos prever. Qualquer entrada de dados sem dados de preço não pode ser usada para previsão; portanto, qualquer linha agora sem dados de preço não é útil para nós</li>
      </ul>
      </li>
      <li>Deletando a coluna inteira</li>
    </ol>
  </li>
  <li>Substituindo os dados
      <ol>
      <li>Substituindo pela media dos dados 
      <ul>
      <li>Coluna: "normalized-losses"<br>
      Dados ausentes: 41</li>
      <li>Coluna: "stroke"<br>
      Dados ausentes: 4</li>
      <li>
      Coluna:"bore"<br>
      Dados ausentes: 4</li>
      <li>
      Coluna:"horsepower"<br>
      Dados ausentes: 4</li>
      <li>
      Coluna:"peak-rpm"<br>
      Dados ausentes: 2</li>
</li>
      </ul>
      </li>
      <li>Substituindo pela frequencia dos dados.
      <ul>
      <li>Coluna: "num-of-doors"<br>
      Valores ausentes: 2 dados<br>
      Justificativa: 84% sedãs são quatro portas. Como quatro portas é mais frequente, é mais provável que ocorra</li>
      </ul></li>
      <li>Substituindo baseado em outras funções</li>
    </ol></li>
<ol>

Calculando e sustituindo os valores das colunas onde a solução atribuida foi substituir pela media de valores.

In [ ]:
media_norm_loss = df["normalized-losses"].astype(float).mean(axis=0)
print("Media das perdas normalizadas: ", media_norm_loss)
media_stroke = df["stroke"].astype(float).mean(axis=0)
print("Media das stroke: ", media_stroke)
media_bore = df["bore"].astype(float).mean(axis=0)
print("Media das bore: ", media_bore)
media_horsepower = df["horsepower"].astype(float).mean(axis=0)
print("Media dos cavalos de potencia: ", media_horsepower)
media_peakrpm = df["peak-rpm"].astype(float).mean(axis=0)
print("Media dos cavalos de potencia: ", media_peakrpm)

df["normalized-losses"].replace(np.nan, media_norm_loss, inplace=True)
df["stroke"].replace(np.nan, media_stroke, inplace=True)
df["bore"].replace(np.nan, media_bore, inplace=True)
df["horsepower"].replace(np.nan, media_horsepower, inplace=True)
df["peak-rpm"].replace(np.nan, media_peakrpm, inplace=True)

Media das perdas normalizadas:  122.0
Media das stroke:  3.255422885572139
Media das bore:  3.3297512437810943
Media dos cavalos de potencia:  104.25615763546799
Media dos cavalos de potencia:  5125.369458128079

Substituindo os valores onde a solução encontrada foi substituir os valores pela frequencia.

In [ ]:
#Retorna a quantidade de valores
print(df['num-of-doors'].value_counts())
#Retorna o valor com maior quantidade
df['num-of-doors'].value_counts().idxmax()
#Substitui os valores das portas pelo valor de maior frequencia
df["num-of-doors"].replace(np.nan, "four", inplace=True)

four    114
two      89
Name: num-of-doors, dtype: int64

Excluindo os dados em que a solucação encontrada foi excluir as linhas dos dados.

In [ ]:
df.dropna(subset=["price"], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Corrigindo o formato dos dados

Primeiramente antes de corrigirmos os tipos de dados precisamos verificar qual o tipo de cada coluna.

In [ ]:
#Verificando os dados de todas as colunas
df.dtypes

Após isso podemos definir o melhor tipo de dado para cada coluna com base nas informações de dados que ja temos

In [ ]:

#Convertendo os dados para o formato apropriado
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")
#Validando os formatos dos dados após a atualização
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

# Padronização dos dados

Transformando mpg para litro por 100km

In [ ]:
df['city-L/100km'] = 235/df["city-mpg"]
df.head()

# Categorizando os dados

# Salvando os data set

Salvando as informações que foram alteradas no nosso dataframe, em um novo arquivo csv.

In [ ]:
df.to_csv("automobile.csv", index=False)